<!-- your html code here -->
<div class="contact">
    <div class="contact_text">
        <h1>Contact</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="formulario">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Your E-mail</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Your Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Please enter your message here..." rows="3"></textarea>
          </div>
          <div class="submitbtn">
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
          </div>
    </div>
</div>