<div class="services">
    <div>
        <img class="keyboard" src="/website/assets/img/2.jpg">
    </div>
    <div>
        <h1><strong>The Second Heading <span>is pretty cool too!</span></strong></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis ex a sem vulputate porttitor et et sem. Vivamus feugiat dolor quis tempus molestie. Nam in dictum sem, ut tincidunt risus. Aenean ac enim mollis, pulvinar augue sed, placerat velit. Sed sem massa, convallis in pharetra feugiat, malesuada eu arcu. Morbi sed leo tempus, consequat libero ut, posuere elit. Fusce eget gravida lacus. Morbi convallis placerat tortor quis euismod. In sodales lorem nec lectus gravida, ut tempor libero rutrum.</p>
    </div>    
</div>
